.shape{
    background-color:   #8faafa;
    width: 50%;
    height: 60%;
    position: absolute;
    border-radius: 30% 90% 30% 90%;
    top: 0;
    right: 0;
    z-index: 1;
    margin-top: 9%;
}

#banner{
    z-index: 2;
}

#cta{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}
#cta .title{
    font-size: 4rem;
    color: #1d1d1d;

}
#cta .title span{
    color:  #f3df03;
}
#cta .description{
    font-size: 1.7rem;
}



